.artboard {
  @apply mb-6 w-full rounded-lg bg-white shadow-md;
}

.artboard header {
  @apply flex items-center whitespace-nowrap py-5 pl-6;
}

.artboard header .breadcrumbs {
  @apply border-l ml-4 pl-4 pt-1 pb-1 relative -bottom-0.5 flex;
}

.artboard header span {
  @apply before:mr-3 before:ml-2 before:text-gray-200 before:content-['/'];
}

.artboard .desc {
  @apply bg-gray-200 px-6 py-4 text-left text-gray-700;
}

.artboard .content {
  @apply relative flex w-full flex-wrap p-6;
}

.artboard .content .schemes {
  @apply flex flex-wrap;
}

.artboard .content .schemes .element {
  @apply rounded-lg bg-gray-200 p-4 text-center mr-5 w-24;
}

.artboard .content .schemes .element a {
  @apply leading-5 text-gray-800;
}

.artboard .content .schemes .element a:hover {
  @apply no-underline;
}

.artboard .content .schemes .element img {
  @apply w-16 mb-4;
}

.artboard .content .schemes .element:hover {
  @apply bg-gray-300 cursor-pointer;
}

.artboard .content .schemes .element.disable {
  @apply bg-gray-50 cursor-default text-gray-400;
}

.artboard .content .schemes .element.disable img {
  @apply opacity-25;
}

.artboard.red {
  @apply shadow-md shadow-red-200;
}

.artboard.red header {
  @apply text-red-700;
}

.artboard.red .desc {
  @apply bg-red-100 px-6 py-4 text-left text-red-700;
}

.artboard.red .btn {
  @apply bg-red-600;
}

.artboard.red .btn:hover,
.artboard.red .btn:focus {
  @apply bg-red-700;
}

.artboard.red .btn:active {
  @apply bg-red-800;
}

.artboard.yellow {
  @apply shadow-md shadow-yellow-200;
}

.artboard.yellow header {
  @apply text-yellow-700;
}

.artboard.yellow .desc {
  @apply bg-yellow-100 px-6 py-4 text-left text-yellow-700;
}

.artboard.yellow .btn {
  @apply bg-yellow-600;
}

.artboard.yellow .btn:hover,
.artboard.yellow .btn:focus {
  @apply bg-yellow-700;
}

.artboard.yellow .btn:active {
  @apply bg-yellow-800;
}
