textarea {
  @apply w-full rounded-sm border border-solid border-gray-300 bg-gray-50 py-1.5 pl-2;
}

textarea:focus {
  @apply border-solid border-sky-600;
}

textarea.warning,
textarea .warning {
  @apply border-red-300 bg-red-50;
}

textarea.warning:focus,
textarea .warning:focus {
  @apply border-solid border-red-600 bg-red-50;
}

textarea.error,
textarea .error {
  @apply border-red-300 bg-red-50;
}

textarea.error:focus,
textarea .error:focus {
  @apply border-solid border-red-600 bg-red-50;
}

textarea.disabled,
textarea .disabled,
textarea[disabled] {
  @apply cursor-not-allowed border-transparent bg-gray-300 text-gray-300;
}
