@import "tailwindcss";

@import "./css/main.css";
@import "./css/artboard.css";
@import "./css/divider.css";
@import "./css/checkbox.css";
@import "./css/card.css";
@import "./css/dropdown.css";
@import "./css/form.css";
@import "./css/textarea.css";
@import "./css/table.css";

@import "./nprogress.css";
